header {
    background-color: #06131f !important;
}

body {
    background-color: #1c2d3c;
}

.icon-header {
    color: white;
}

.col-3 {
    background-color: #102030;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.cursor-pointer {
    cursor: pointer;
}

.album-selected {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(16, 32, 49, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.content-album {
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    color: white;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
}

/* classi per il transition di vue */
.modal-enter-active,
.modal-leave-active {
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.modal-enter {
    opacity: 0;
    transform: scale(0.9);
}

.modal-leave-to {
    opacity: 0;
    transform: scale(0.9);
}