header {
    background-color: #06131f !important;
}

body {
    background-color: #1c2d3c;
}

.icon-header {
    color: white;
}

.col-3 {
    background-color: #102030;
    padding-left: 0 !important;
    padding-right: 0 !important;
}